<div class="modal fade booking-modal-container" id="booking_modal_container" tabindex="-1" role="dialog" aria-labelledby="pay-by-credit-card">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="booking-modal-label">Casa Paradiso</h4>
      </div>
     <form class="form-horizontal" action="" method="POST" id="payment-form">
      <div class="modal-body">
          <div class="col-sm-12 booking-modal-dates booking-modal-headers"></div>
          <div class="col-sm-12 booking-modal-summary booking-modal-headers"></div>
          <div class="spacer-below-booking-modal-summary"></div>
          <div class="container-fluid">
            <span class="payment-errors"></span>

            <div class="form-group">
              <label for="cc_number" class="col-sm-4"><span>Card Number</span></label>
              <div class="col-sm-8">
                <input id="cc_number" type="text" size="20" data-stripe="number"/>
              </div>
            </div>

            <div class="form-group">
              <label for="cc_cvc" class="col-sm-4"><span>CVC</span></label>
              <div class="col-sm-8">
                <input id="cc_cvc" type="text" size="4" data-stripe="cvc">
              </div>
            </div>

            <div class="form-group">
              <label for="cc_expire" class="col-sm-4"><span>Expiration (MM/YYYY)</span></label>
              <div class="col-sm-8">
                <input id="cc_expire" type="text" size="2" data-stripe="exp-month"/>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/>
              </div>
            </div>
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button-booking-modal-close" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info button-booking-modal-book">Book</button>
      </div>
     </form>
    </div>
  </div>
</div>
