<div class="wrapper">
	<div class="copyright">
	    &copy; {{date format="YYYY"}} {{@blog.title}}. All rights reserved | Theme by <a href="http://www.voltthemes.com">Volt Themes</a>
	</div>
	{{> "social-media"}}
</div>