@import "mixins";
/* ======================================================================
variables
====================================================================== */
$image_path:'/assets/img';
$ocean_deep: '#323D51';
$slate_gray: '#4E5B6E';
$ocean_green: '#3D827F';
$baby_blue: '#62BDC1';
$demphasize_gray: '#888';

/* ======================================================================
mixins
====================================================================== */
@mixin spacer($height: 1em) {
    height:$height;
}
@mixin debug-border {
    border: 1px solid red;
}
@mixin bp-retina-og {
        only screen and (-moz-min-device-pixel-ratio: 1.5),         only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5) {
            @content
        }
}
@mixin bp-retina {
    @media 
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx){ 
            @content
        }
}
@mixin background-image($name, $name2x, $namesvg:false, $size:false) {
    
    @if($size){
        background-size:$size;
    }
    background-image: url(#{$image_path}/#{$name});
    @include bp-retina {
        background-image: url(#{$image_path}/#{$name2x});
    }
    @if($namesvg){
        background-image: linear-gradient(transparent, transparent),
        url(#{$image_path}/#{$namesvg});
    }
}
/* ======================================================================
useful
====================================================================== */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > [class^="col-"],
    > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.row.thin-gutters {
    margin-right: 0;
    margin-left: 0;

    > [class^="col-"],
    > [class*=" col-"] {
        padding-right: 2px;
        padding-left: 2px;
    }
}

/* ======================================================================
sleep/booking
====================================================================== */
/* headers */
.sleep-header {
    @include background-image(
        'background-header/background-sleep.png',
        'background-header/background-sleep@2x.png',
        $size:100% 283px);

    background-repeat: no-repeat;
    max-width:100%;
    margin-top: -90px;
    height:283px;

}
.sleep-container {

    padding-top: 100px;
    h1 {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 36pt;
        font-weight: 700;
        text-align: center;
    }
    .spacer-below-header { @include spacer(1.3em); }
    .spacer-below-header-xs-only { @include spacer(4em); }
}

.sharp-border-radius { @include border-radius(0px) }
.booking-search-width { max-width: 655px; }
.booking-search-container { @extend .booking-search-width }
form#booking_search {
    @extend .booking-search-width;
    .form-group-from, .form-group-to { width: 33%;}
    .form-group-button { width: 17%;}
    input { @extend .sharp-border-radius }
    button { @extend .sharp-border-radius; width: 100%; }
    div.input-group-addon { @extend .sharp-border-radius }
    select { @extend .sharp-border-radius; -webkit-appearance: none; }
    button.btn-search { background-color: $baby_blue; border-color: $baby_blue; }
}
div.spacer-below-status { @include spacer(1.3em); }
.results-width { width:100%; }
div.spacer-above-results-xs-only { @include spacer(13em); }
div.results-place-tile {
    display:none;
    img { @extend .results-width; }
    a.img-anchor-container { position: relative; display:inline-block; }
    div.price-label {
        @include border-radius(18px);
        background-color:rgb(96,96,96);
        background-color:rgba(0,0,0,0.6);
        bottom: 110px;
        color: #fff;
        font-size: 14pt;
        font-weight: 700;
        line-height: 2em;
        left: 30px;
        position: absolute;
        height: 2em;
        width: 4.5em;
        z-index: 100;
    }
    div.beachfront-icon {
        @include border-radius(5em);
        background-color: #ccc;
        bottom: 55px;
        right: 30px;
        position: absolute;
        height: 5em;
        width: 5em;
        z-index: 99;
        @include background-image(
            'icons/thumbnail-sleep-badge-beachfront.png',
            'icons/thumbnail-sleep-badge-beachfront@2x.png',
            'icons/thumbnail-sleep-badge-beachfront@3x.svg',
            $size:100% 5em);
    }

    h4 { @extend .results-width; }
    a.results-anchor {
        background-color: #fff;
        display: block;
        padding: 1em;
    }
    a.results-anchor {
        div { color: #888; }
    }
    a.results-anchor:hover {
        div { color: #62BDC1; }
    }
}
div.spacer-below-description { @include spacer(0.5em); }
div.results-container {
    a:hover { text-decoration: none;}
}
div.results-anchor { height: 90px; line-height: 2em;}
form#booking-search div.input-group { width: 42%; }

/* ======================================================================
detail page
====================================================================== */
div.detail-header {
    background-size: 100% 425px;
    /* hack because of ghost */
    margin-top: -90px;
    height: 425px;
    width: 100%;
}

div.detail-summary {
    background-color:#fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    div.spacer-above-title { @include spacer(1.2em); }
    div.detail-place-title {
        font-size: 16pt;
        font-weight: 700;
    }

    div.detail-place-location {
        color: #888;
        font-size: 18px;
    }
    div.detail-place-icon-list { margin-top: 1em;  width:100%; }
    div.icon-group {
        width: 25%;
    }
    div.spacer-below-icons { @include spacer(100px);}
    div.detail-booking-container {

        border: 1px solid #ccc;
        background-color: #fff;
    }
    div.detail-booking-container-container {
        height: 11em;
        font-size: 11pt;
        div.booking-price { font-size:16pt; font-weight: 700 }
        div.booking-period { color: #888; }
        input { @extend .sharp-border-radius }
        button { @extend .sharp-border-radius; font-size: 14pt; font-weight: 700; width: 100%; }

        div.spacer-between { @include spacer(1em); }
        div.spacer-between-totals { @include spacer(1.1em); border-bottom: 1px solid #ccc; }
    }
    div.detail-booking-container {
        position: relative;
        bottom: 20%;
        border: 1px solid #ccc;
        z-index: 100;
    }

    div.spacer-below-booking { @include spacer(150px); }

}

.icon-size {
    height: 22px;
    width: 20px;
}
div.icon-group {

    .icon-beachfront {
        @extend .icon-size;
        @include background-image(
            'icons/detailpage-icon-beachfront.png',
            'icons/detailpage-icon-beachfront@2x.png',
            'icons/detailpage-icon-beachfront@3x.svg',
            $size:contain);
        background-repeat: no-repeat;
    }
    .icon-house {
        @extend .icon-size;
        @include background-image(
            'icons/detailpage-icon-house.png',
            'icons/detailpage-icon-house@2x.png',
            'icons/detailpage-icon-house@3x.svg',
            $size:contain);
        background-repeat: no-repeat;
    }
    .icon-guests {
        @extend .icon-size;
        @include background-image(
            'icons/detailpage-icon-guests.png',
            'icons/detailpage-icon-guests@2x.png',
            'icons/detailpage-icon-guests@3x.svg',
            $size:contain);
        background-repeat: no-repeat;
    }
    .icon-bedrooms {
        @extend .icon-size;
        @include background-image(
            'icons/detailpage-icon-bedroom.png',
            'icons/detailpage-icon-bedroom@2x.png',
            'icons/detailpage-icon-bedroom@3x.svg',
            $size:contain);
        background-repeat: no-repeat;
    }
    .icon-title {
        color: #888;
        font-size:8pt;
        font-weight:700;
        text-align: center;
    }
}

.font-size-categories { font-size: 10pt; }
div.detail-meat {
    div.detail-subleader { color: #0f0f0f; font-size: 18px; font-weight: 700 }
    div.spacer-above-subleader { @include spacer(3em); }
    div.spacer-below-subleader { @include spacer(2em); }
    div.spacer-below-description { @include spacer(2em); border-bottom: 1px solid #ccc;}
    div.spacer-below-space { @include spacer(1em); border-bottom: 1px solid #ccc;}
    div.spacer-below-amenities { @include spacer(1em); border-bottom: 1px solid #ccc;}
    div.detail-description { font-size: 11pt; }
    color: #888;
    span { color:#0f0f0f };
    font-size: 10pt;
    div.detail-space { margin-top: 1em; }
    div.detail-space-leader { @extend .font-size-categories }
    div.detail-amenities { margin-top: 1em; }
    div.detail-amenities-leader { @extend .font-size-categories }
    div.detail-prices { margin-top: 1em; }
    div.detail-prices-leader { @extend .font-size-categories }

    ul { border:none; }
    li { background-color: inherit; border: none; line-height: 0.95em; }

}
div.spacer-between-photos { @include spacer(0.3em); }
/* booking modal */
div.booking-modal-container {
    .booking-modal-headers { font-size: 12pt; height: 2em; font-weight: 700; }
    .booking-modal-summary {
        color:#888;
        span { color: rgb(51,51,51) }
    }
    div.spacer-below-booking-modal-summary { @include spacer(7em); }
    button { @extend .sharp-border-radius }

}
