@mixin transition($property, $speed){
    -webkit-transition: $property $speed;
    -moz-transition: $property $speed;
    -o-transition: $property $speed;
    -ms-transition: $property $speed;
    transition: $property $speed;
}

@mixin translate3d($x, $y, $z){
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin background-size($property){
    -webkit-background-size: $property;
    -moz-background-size: $property;
    -o-background-size: $property;
    background-size: $property;
}