$primary-color: #00aded; //blue
$secondary-color: #252525; //dark grey

$link-hover: #252525; //dark grey

$body-font: 'Lato', sans-serif; //google font
$body-font-color: #3d3d3d; //dark gray
$body-font-size: 1em;